---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>{ title }</title>
    </head>
    <body>
        <!-- ここにコンテンツが入る -->
        <slot />
    </body>
</html>